.title {
  margin: -20px auto 24px;
}

.customersContainer {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.spacesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: calc(50% - 12px);
    max-height: fit-content;

    @media (max-width: 768px) {
      width: 100%;
    }

    .titleText {
      width: 100%;

      > div {
        width: 100%;

        ul {
          min-height: 350px;
          max-height: 500px;
          overflow-y: auto;
          margin-left: unset;
        }
      }
    }

    .imgSwiper {
      width: 100%;
      height: calc(100% - 6vh);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      border-radius: 10px;
      overflow: hidden;
    }

   
    .swiper {
      height: calc(447px + 6vh);
    }
  }
}

.customerItem {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: filter 0.3s ease;

  &:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }
}

.titleSwiper {
  flex: 0 1 auto;
  // height: calc(100dvh - 350px);

  @media (max-width: 768px) {
    height: unset;
  }
}
