.overlay {
  position: fixed;
  inset: 99999;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
  overflow: hidden;

  opacity: 0;
  pointer-events: none;

  @media (max-width: 768px) {
    padding: 0;
  }
}