.clientesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  padding: 5vh 0;
  overflow: hidden;
  margin-bottom: 5vh;
}

.customersContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.customersWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  align-items: center;
  justify-content: flex-start;
  width: max-content; /* Garante que o conteúdo tenha a largura correta */
  animation: infiniteScroll 60s linear infinite; /* Controla a velocidade da animação */


}

.customerItem {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 100px;

  filter: grayscale(100%);
  transition: filter 0.3s ease;
  margin-right: 25px;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
