//TODO: Terminar de configurar o _theme.scss para white label

// Main Colors
$beachclub: #ffb236;
$rooftop: #4f4bbc;
$beachclub_rooftop: #83a3a1;
$gray_dark: #4f4f4f;

// Neutral colors
$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$gray_light: #e0e0e0;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// Fonts
$weight-thin: 100;
$weight-extralight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
