.wrapper {
  @media (max-width: 768px) {
    padding-top: 0 !important;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.insideWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  
}

.desktopContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 16px;
}

.servicesBox {
  width: 100%;
  height: 200px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 16px;
  gap: 16px;

  svg {
    height: 85px;

  }
}

.servicesText {
  font-size: 16px;
  text-align: center !important;
  overflow: hidden;
  width: 100%;
    font-size: 17px;
    font-weight: 600;
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
}

.servicesTextMobile {
  bottom: 10px;
  text-align: center;
  font-size: 12px;
}

.servicesMobile {
  width: 200px;
  height: fit-content;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
